{{- $fileBase := "" -}}
{{- with .File -}}{{- $fileBase = .ContentBaseName -}}{{- end -}}
{{- $isDailyIssue := and (findRE `^\d{4}-\d{2}-\d{2}$` $fileBase) (ne .Section "opportunity") (ne .Section "project-opportunity") -}}
{{- if $isDailyIssue -}}
  {{- with .TableOfContents -}}
    <aside class="issue-directory" aria-labelledby="issue-directory-title">
      <div class="issue-directory__heading">
        <p>READ THIS ISSUE</p>
        <h2 id="issue-directory-title">本期目录</h2>
        <span>点击标题直达对应信号</span>
      </div>
      {{ . | replaceRE `id="TableOfContents"` `id="issue-directory-links"` | safeHTML }}
    </aside>
  {{- end -}}
{{- end -}}
